<h1 mat-dialog-title style="background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); color: white;" class="pop-title text-center">Edit Tweet</h1>
<div class="ml-4 mr-4">
    <div class="edit"><strong>Edit Tweet</strong></div>
    <div class="row">
        <div class="col-md-12"><textarea style="width:100%;" id="tweetText" maxlength="144"
                [(ngModel)]="tweetData"></textarea>

        </div>
        <div class="col">
            <button class="btn btn-primary f-right"
                [disabled]="tweetData.length==0 || tweetData==null || tweetData.trim()==''"
                (click)="editTweet()" mat-dialog-close='true'>Post</button>
        </div>
    </div>
</div>